# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/
.pnpm-store/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native artifacts
*.orig.*
.kotlin/

# Android
android/app/build/
android/.gradle/
android/local.properties
android/captures/
*.jks
*.keystore
*.apk
*.aab

# iOS
ios/build/
ios/DerivedData/
ios/Pods/
ios/.xcode.env.local
**/xcuserdata/
*.xcuserstate
*.mobileprovision
*.cer
*.p12
*.p8
*.key

# Fastlane
**/fastlane/report.xml
**/fastlane/Preview.html
**/fastlane/screenshots
**/fastlane/test_output

# secrets / environment variables (Security Priority)
.env
.env.local
.env.*.local
.env.production
.env.staging
.env.development
*.pem
credentials.json
google-services.json
GoogleService-Info.plist

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*
bun-debug.*

# OS
.DS_Store
.AppleDouble
.LSOverride
Icon
Thumbs.db

# IDEs
.vscode/*
!.vscode/extensions.json
.idea/
*.swp
*.swo

# typescript
*.tsbuildinfo

app-example
